<div class="twelve columns">
  <nav class="top-bar">
    <ul>
      <!-- Title Area -->
      <li class="name">
        <h1>
          <%= link_to "Kelp", root_url %>
        </h1>
      </li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
  </nav>
</div>
